@media screen {
	.bespoke-parent {
		font-size: 1.1em;
	}
	.bespoke-progress-parent {
		height: .1vw;
	}

	section {
		font-family: "Lato", "Helvetica";
	}

	h1 {
		font-family: "IBM 3270", "SF Mono", "Sans";
		margin-top:20%;
		text-align: center;
		color: white;
		margin: 42% 0 0 3%;
		text-align: left;
		font-size: 4em;
	}

	h2 {
		text-align: center;
		margin: 20% 0 0 5%;
		text-align: left;
		font-size: 2em;
	}

	#s0{
		background-image: url("boat2.jpeg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	#s0 h1 {
	}

	pre {
		padding: 1em;
	}

	.slide:last-child {
		background-image: url("boat1.jpeg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		p
	}
}
